.ScheduleListWrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 16px;
  height: calc(100vh - 56px - 2 * 16px - 100px); //temp solution for vertical grow
}

.ScheduleList {
  margin-bottom: 20px;
  grid-row: 1 / -1;
  grid-column: 1 / 9;
  // scroll-margin-left: 20px;
  @media (max-width: 767px) {
    grid-column: 1 / 18;
  }

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d9d9d9;;
  }
}

.ScheduleView {
  grid-row: 1 / -1;
  grid-column: 9 / -1;
  @media (max-width: 767px) {
    display: none;
  }
}
