.ScheduleList {
}

.ScheduleListHeader {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.ScheduleListHeaderTitle {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.5rem;

  &::after {
    content: attr(data-events-amount);
    display: block;
    color: gray;
    font-size: 0.7em;
  }
}
