.mapIcon {
  width: 30px;
  margin-top: -55px;
  margin-left: -15px;
}

.react_geocoder{
  width: 100%;
}

.react_geocoder input{
  width: 100%;
}

.react_geocoder div{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 170px;
  overflow: hidden;
}

.buttonStyle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_main{
  position: relative;
  height: 200px;
}