$color-white: #fff;
$color-light: #f5f5f5;

$color-btn-submit:  #95de64;
$color-btn-submit-active: #73d13d;
$color-btn-submit-hover:  #b7eb8f;
$color-btn-check: #ffc53d;
$color-btn-check-active: #faad14;
$color-btn-check-hover: #ffd666;
$color-task-background: #f6ffed;
$color-interview-background:#fff2e8;
$color-lecture-background: #f9f0ff;
$color-self-education-background: #feffe6;
$color-test-background: #e6fffb;
