.ScheduleDetailView {
  position: relative;
}

.ScheduleDetailViewHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: max-content;
  grid-gap: 0.5rem;
  align-items: center;
}

.EventForm {
}

.EventFormSubmitButton {
}
